<footer class="footer">
    <div class="footer__content">
        <div class="container">
            <section class="subscribe">
                <img src="img/circle.png" alt="" class="subscribe-img">
                <div class="subscribe__content">
                    <h3 class="subscribe__title">
                        Subscribe to my blog.
                    </h3>
                    <small class="subscribe__subtitle">
                        I post fresh content every week.
                    </small>

                    <form action="">
                        <div class="subsribe__input">
                            <input type="text" placeholder="Email address">
                            <button type="submit" class="subscribe-btn">subscribe</button>
                        </div>
                    </form>

                </div>
            </section>
            <div class="footer-line"></div>
            <section class="copyright">
                <span class="copyright__text">Copyright 2022 - Javohir Nurmatjonov</span>
            </section>

        </div>

    </div>
</footer>