{% load main_tags static %}
{% get_categories as categories %}


<nav class="navbar">
    <div class="container-lg">
        <div class="navbar-content">
            <div>
                <a href="{% url 'home' %}" class="header__logo">
                    <img src="{% static 'main/img/myblog.jpg' %}" alt="" width="64px" height="64px"
                         style="border-radius: 100%;">
                    <div class="header__logo-text">
                        <span>javohir nurmatjonov</span>
                        <small>Personal blog</small>
                    </div>

                </a>
            </div>
            <ul class="header__navigation">
                {% for category in categories %}
                <li class="list__item"><a href="{{ category.get_absolute_url }}" class="item__link">
                    {{ category.title }}
                </a></li>
                {% endfor %}
            </ul>
            <div>
                <a href="" class="main-btn">
                    Subscribe
                </a>
            </div>

        </div>
    </div>
</nav>